# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# 虚拟环境
rag_env/
venv/

# 本地数据库
chroma_db/
chroma

# 日志和临时文件
*.log
*.tmp

# IDE相关
.idea/
.vscode/
__pycache__/
*.py[cod]

# 环境文件
.env
trip_venv


不提交.md

trip_test.db
已经完成.md

.trae
model_cache
核心交互
Claude.md
Agents.md

node_modules
.idea

dist


settings.local.json
trip_test.*
搁置的计划
目前存在的问题.md


agent_events.*

护城河分析